html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#Section1 {
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 46.5px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

#Section1 p {
    font-size: 28px;
}

#Section2 {
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
    scroll-margin-top: 46.5px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

#Section2 h2 {
    color: white;
}

#Section2 p {
    color: white;
    font-size: 28px;
}

#Section3 {
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 46.5px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% - 24px);
}

#Section3 p {
    font-size: 28px;
}

#logo {
    width: 400px;
    max-width: 75%;
}

#triton-img {
    max-width: 100%;
}

#grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
}

#grid-item {
    background-color: #182b49;
    max-height: 500px;
    color: #ffffff;
    padding: 16px 10px 10px 10px;
    font-size: 28px;
    overflow: auto;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #FFF;
}

li {
    float: left;
    font-size: 28px;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #182b49;
    color: #FFF;
}

@media screen and (max-width: 800px) {
    ul {
        display: none;
    }

    h2 {
        font-size: 24px !important;
    }

    p {
        font-size: 20px !important;
    }

    #grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}